{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

  {% if title == None %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <!-- <li><a href="https:\\google.com">{{ entry }}</a></li> -->
            <!--  str = "/wiki/" + entry -->
            <li><a href="{% url 'link' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
  {% else %}
    <h2> {{ title | safe }}</h2>
  {% endif %}

{% endblock %} 