{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

  {% if entry == None %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'entry' entry %}">{{ entry }}</a></li>
            {% empty %}
              <li>No search results for "{{ value }}". Want to <a href="{% url 'create' %}">create</a> it?</li>
        {% endfor %}
    </ul>
  <!-- displays the entry if not the whole list -->
  {% else %} 
    <h2> {{ entry | safe }}</h2>
  {% endif %}

{% endblock %} 